#
#    agent-th - Grab temperature and humidity data from some-sensor
#
#    Code in this repository is part of Eaton Intelligent Power Controller SW suite                                                        
#                                                                                                                                          
#    Copyright (C) 2015 Eaton                                                                                                              
#                                                                                                                                          
#    The software that accompanies this License is the property of Eaton                                                                   
#    and is protected by copyright and other intellectual property law.                                                                    
#                                                                                                                                          
#    Final content under discussion...                                                                                                     
#    Refer to http://pqsoftware.eaton.com/explore/eng/ipp/license_en.htm?lang=en&file=install/win32/ipp/ipp_win_1_42_109.exe&os=WIN&typeOs=

Source:         agent-th
Section:        net
Priority:       optional
Maintainer:     John Doe <John.Doe@example.com>
Uploaders:      John Doe <John.Doe@example.com>
Standards-Version: 3.9.5
Build-Depends: bison, debhelper (>= 8),
    pkg-config,
    automake,
    autoconf,
    libtool,
    libsodium-dev,
    libzmq4-dev,
    libczmq-dev,
    libmlm-dev,
    libbiosproto-dev,
    dh-autoreconf,
    systemd

Package: libth0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: agent-th
 This package contains shared library for agent-th: grab temperature and humidity data from some-sensor

Package: agent-th-dev
Architecture: all
Section: libdevel
Depends:
    libsodium-dev,
    libzmq4-dev,
    libczmq-dev,
    libmlm-dev,
    libbiosproto-dev,
    libth0 (= ${binary:Version})
Description: development files for agent-th
 This package contains development files for agent-th: grab temperature and humidity data from some-sensor

Package: agent-th
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: grab temperature and humidity data from some-sensor
 Main package for agent-th: grab temperature and humidity data from some-sensor

Package: agent-th-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
    agent-th (= ${binary:Version}),
    ${misc:Depends}
Description: debugging symbols for agent-th
 This package contains the debugging symbols for agent-th : grab temperature and humidity data from some-sensor.

